In [1]:
!pip install tweepy

Requirement already satisfied: tweepy in c:\users\suses\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\suses\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests>=2.11.1 in c:\users\suses\anaconda3\lib\site-packages (from tweepy) (2.22.0)
Requirement already satisfied: PySocks>=1.5.7 in c:\users\suses\anaconda3\lib\site-packages (from tweepy) (1.7.1)
Requirement already satisfied: six>=1.10.0 in c:\users\suses\anaconda3\lib\site-packages (from tweepy) (1.14.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\suses\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\suses\anaconda3\lib\site-packages (from requests>=2.11.1->tweepy) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\suses\anaconda3\lib\site-packages (from requests>=2.11.1->tweepy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\suses\anaconda3\lib\site-packages (from requests>=2.11.1->tweepy) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\suses\anaconda3\lib\site-packages (from requests>=2.11.1->tweepy) (3.0.4)

# Connection

In [2]:
#Importing libraries and connecting to twitter developper account
import tweepy,codecs
import pandas as pd


consumer_key="Type your key"
consumer_secret="Type your key"
access_token="Type your key"
access_token_secret="Type your key"

auth=tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api=tweepy.API(auth)

# Data Taking

In [3]:
#Taking datas from Hashtags

In [4]:
results=api.search(q="#covid-19",lang="tr",
                  count=300
                )
#To Change language lang="eng"

In [5]:
#hashtags to dataframes

In [6]:

def tweets_df(results):
    import pandas as pd
    id_list=[tweet.id for tweet in results]
    data_set=pd.DataFrame(id_list,columns=["id"])
    
    data_set["text"]=[tw.text for tw in results]
    data_set["created_at"]=[tw.created_at for tw in results]
    data_set["retweet_count"]=[tw.retweet_count for tw in results]
    data_set["user_screen_name"]=[tw.author.screen_name for tw in results]
    data_set["user_followers_count"]=[tw.author.followers_count for tw in results]
    data_set["user_location"]=[tw.author.location for tw in results]
    data_set["Hashtags"]=[tw.entities.get('hashtags') for tw in results]
    
    return data_set

In [7]:
data =tweets_df(results)

In [8]:
data["user_screen_name"].unique().size

78

In [9]:

data["text"].str.startswith("RT")#finding not RT tweets

0      True
1      True
2      True
3      True
4     False
      ...
82    False
83     True
84     True
85    False
86     True
Name: text, Length: 87, dtype: bool

In [10]:
data=data[~data["text"].str.startswith("RT")]

In [11]:


old_data=pd.read_csv("tweets.csv")

In [12]:

new_data=pd.concat([old_data,data],ignore_index=True)
new_data=new_data.drop(["Unnamed: 0"],axis=1)

In [13]:



new_data=new_data.drop_duplicates(subset ="text",keep="last")
new_data.to_csv("tweets.csv")

In [14]:
new_data

,id,text,created_at,retweet_count,user_screen_name,user_followers_count,user_location,Hashtags
0,1248965085512511489,bence vir√ºste ≈üa≈üƒ±rƒ±yor bu olamlara #Covid_19 ...,2020-04-11 13:24:15,0,dorukhnv,424,NaN,"[{'text': 'Covid_19', 'indices': [36, 45]}, {'..."
1,1248965082098348032,"N√∂roloji Uzmanƒ±mƒ±z #ProfDrSultanTarlacƒ±, #Covi...",2020-04-11 13:24:14,0,npistanbul,3420,"√úmraniye, ƒ∞stanbul","[{'text': 'ProfDrSultanTarlacƒ±', 'indices': [1..."
2,1248965048996892673,Tav vurmaya kar≈üƒ± elimizde g√º√ßl√º bir koz var. ...,2020-04-11 13:24:06,0,saydaminsanlik0,162,NaN,"[{'text': 'darbe', 'indices': [60, 66]}, {'tex..."
3,1248965047419899905,Bazƒ± ≈üeyler i√ßin milletin kafasƒ± deƒüi≈ümeli san...,2020-04-11 13:24:06,0,alitplll,53,"ƒ∞stanbul, T√ºrkiye",[]
4,1248964956915224576,2 G√ºn a√ßlƒ±ktan kimse √∂lmedi.fakat\n Covid‚Äô19 d...,2020-04-11 13:23:45,1,kutupkutup1,774,T√ºrkiye,"[{'text': 'evdekal', 'indices': [94, 102]}]"
...,...,...,...,...,...,...,...,...
544,1262895330703675393,t√ºrkiye vs hasta mahpuslar: \ncovid-19 edition...,2020-05-19 23:58:04,0,zeynpandthecats,195,i√ºhf,[]
545,1262895257592696839,Kemal Sunal‚Äôƒ±n b√ºt√ºn filmlerini bu pandemide T...,2020-05-19 23:57:47,0,bendeli1988,671,"England, United Kingdom",[]
546,1262895182904770561,Adamlar te≈ükonun kralƒ±nƒ± yapmƒ±≈ü bakan felan üëèüëè...,2020-05-19 23:57:29,0,JerryFl60117013,2,,[]
547,1262895122209005569,An itibariyle ABD'de #coronavirus √∂l√ºm√º +1542 ...,2020-05-19 23:57:15,0,fener18,1147,T√ºrkiye,"[{'text': 'coronavirus', 'indices': [21, 33]}]"
548,1262895017502400513,Futbolcularƒ±n Covid-19 testleri normal insanda...,2020-05-19 23:56:50,0,kurtkanmuratt,46,"Bayrampa≈üa, ƒ∞stanbul",[]

# Cleaning Text Data

In [15]:

text_data=pd.DataFrame(new_data["text"])

In [16]:
text_data1=text_data.copy()

In [17]:

#To lower, removing hashtags

In [18]:
text_data1["text"] = text_data1["text"].apply(lambda tw:
                                              " ".join(tw.lower() for tw in tw.split()))
text_data1["text"] = text_data1["text"].apply(lambda tw:
                                              " ".join(tw for tw in tw.split() if not(tw.startswith("#"))))
text_data1["text"] = text_data1["text"].apply(lambda tw:
                                              " ".join(tw for tw in tw.split() if not(tw.startswith("http"))))

In [19]:
text_data1["text"] = text_data1["text"].str.replace("[^\w\s]","")
text_data1.describe()

                                                text
count                                            549
unique                                           543
top     medyaya yansitilmayan ger√ßek ufo g√∂r√ºnt√ºleri
freq                                               2

In [20]:
clean_Data=new_data
clean_Data["text"]=text_data1["text"]
clean_Data.to_csv("clean_data_full.csv")

In [21]:
text_data1.to_csv("clean_data.csv")

In [22]:
###IMPORTANT ============>  You can accumulate data by running all the codes by here up to and over and over again.